*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.dev
{
    font-size: 45px;
    border-bottom: 2px solid rgb(61, 61, 61);
}
.about{
    width: 150px;
}
.first
{
    border: 1px solid rgb(87, 87, 87);
}
.well
{
    border-bottom: 1px solid rgb(87, 87, 87);
}
.home
{
    width: 120px;
}
.animat
{
    animation: animat 0.6s ease-in-out;
}
@keyframes animat 
{
    from{
       transform: translateX(100%);   
    }
    to{
        transform: translateX(0%); 
    }
}